/*  
Author: Jon Biersdorfer
File Name: styles.css
Date: 09/18/2022
*/
/* CSS Reset */
body,
header,
nav,
main,
footer,
img,
h1,
ul /*9. added ul selector to the CSS reset style rule */ {
  margin: 0;
  padding: 0;
  border: 0;
}
/* Style rule for images */
img {
  max-width: 100%;
  display: block;
}
/* Style rules for mobile viewport */
/* 4. created a new comment after the img style rule which is mentioned above*/


/* Hide tab-desk class */
/* 5. added two lines and after that one commented above line as asked in point 5*/
/* 6. written new style rule as given in point 6 */
.tab-desk {
  display: none;
}


/* Style rules for header content */
header {
  text-align: center;
  font-size: 1.5em; /*7. modified from 3em to 1.5em*/
  color: #373684;
}
header h1 {
  /*8. added font family declaration for the header h1 and removed font-style italic*/
  font-family: "DM Serif Display", serif;
}
/* Style rules for navigation area */
nav {
  background-color: #373684;
}
nav ul {
  list-style-type: none;
  /* 9. Removed the declaration for the margin property in the nav ul style rule before margin : 0 is present now it is removed, for future change you can also comment instead of removing*/
  text-align: center;
}
nav li {
  /* 9. Modified the nav li style rule by changing the display value to block and added given border-top */
  display: block;
  border-top: 1px solid #e5e9fc;
  font-size: 2em;
}
nav li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 0.5em 1em;
  text-decoration: none;
}
/* Style rules for main content */
main {
  padding: 2%;
  background-color: #e5e9fc;
  overflow: auto;
  /*8. Changed the font-family value for the main style rule to Robotoprovided by Google Fonts */
  font-family: "Roboto", sans-serif;
}
main p {
  font-size: 1.25em;
}
.action {
  /* 10. changing the font-size value to 1.25em . */
  font-size: 1.25em;
  color: #373684;
  font-weight: bold;
}

/* 11. Removed the width and float declarations for the #piano, #guitar, #violin style rule. */
#piano,
#guitar,
#violin {
  margin: 0 2%;
}
#info {
  clear: left;
  background-color: #c0caf7;
  padding: 1% 2%;
}

/* 12. create a new style rule for the #info ul and specified a left margin of 10%.*/
#info ul {
  margin-left: 10%;
}
/* created a new style rule for the round class selector that specifies a border-radius of 8px */

.round {
  border-radius: 8px;
}

#contact {
  text-align: center;
}

/*17. added these styles below the contact style rule as requested in 17th point */
.tel-link {
  background-color: #373684;
  padding: 2%;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  border-radius: 5px;
}

.tel-link a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  display: block;
}
/*18. Changed from #contact a  to #contact .email-link */
#contact .email-link {
  color: #4645a8;
  text-decoration: none;
  font-weight: bold;
}

/* 19. Added a width property with a value of 95% and a height property of 50% to the .map style rule. */
.map {
  border: 5px solid #373684;
  width: 95%;
  height: 50%;
}
/* Style rules for footer content */
footer {
  text-align: center;
  font-size: 0.65em;
  clear: left;
}
footer a {
  color: #4645a8;
  text-decoration: none;
}
